alpha-vantage==2.2.0
boto3==1.13.7
Flask==1.1.2
Jinja2==2.11.2
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
kafka-python==2.0.1
notebook==5.2.2
numpy==1.18.3
pandas==1.0.3
pyspark==2.4.5
python-dateutil==2.8.1
s3transfer==0.3.3
sasl==0.2.1
thrift==0.13.0
thrift-sasl==0.4.2
webencodings==0.5
Werkzeug==1.0.1
